*{
	box-sizing: border-box;
}

body
{
	font-size:13px;
	font-family: "Roboto";
}

a
{
	display: inline-block;
	text-decoration: none;
}

p
{
	color: black;	
}

header
{
	position: relative;
	width: 100%;
	/*top: 0;
	left: 0;
	z-index: 2;*/
}

header .contenedor
{
	display: flex;
	background-color: #ed0b0e;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	font-weight: bolder;
	width: 100%;
	height: 92px;
}

header div .contenedor
{
	width: 799px;
	height: 84px;
}

header .contenedor .logo
{
	width: 155px;
	height: 95px;
	object-position: center;
}

header .contenedor nav a
{
	color: #ffffff;
	text-decoration: none;
	margin: 0 15px 0 15px;
}

header .contenedor nav a:hover
{
	color: black;
}

.boton.boton-gris
{
	color: #ffffff;
	background-color: #410a14;
	font-size: 16px;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px 4px 4px 4px;
}

.boton.boton-gris:hover
{
	background: #6d625c;
	color: #bbb8b5;
	cursor: pointer;
}

.cuadrado-perfecto img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	object-position: center;
	position: absolute;
}

#galeria .cuadrado-perfecto img
{
	border: 2px solid #d91b54;
}

.contenedor
{
	width: 1140px;
	margin: 0 auto 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}

.container-fluid
{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
}


#inicio
{
	position: relative;
	background-color: #f8e9eb;
	padding-top: 2px;
	padding-bottom: 8px;
}

#inicio img
{
	width: 100%;
	display: block;
}

.cuadrado-perfecto
{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
}

header .contenedor .hamb
	{
		display: none;	
	}

	.columna-25
	{
		width: 25%;
	}
	
	.columna-33
	{
		width: 33.33%;
	}

footer.seccion
{
	background-color: #ed0b0e;
	color: #ffffff;
	padding-bottom: 0;
	padding-top: 10px;
}

footer .barra-footer
{
	background-color: #252527;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 1px;
}

footer .barra-footer p
{
	color: white;
}

footer ul
{
	color: black;
	padding-left: 0;
	list-style: none;
	margin: 0; 
}

footer ul li
{
	margin-bottom: 10px;
}

footer .logo-footer
{
	width: 100%;
}

footer img
{
	width: 500px;
	height: 130px;
}

footer p
{
	color: black;
	margin-bottom: 30px;
}

footer a
{
	color: black;
}

footer .redes
{
	color: black;
	font-size: 30px;
	display: flex;
	cursor: pointer;
}

footer .redes a
{
	margin: 0 7.5px;
	color: black;
}

footer .redes
{
	color: black;
	font-size: 30px;
	display: flex;
	cursor: pointer;
}

footer .redes a
{
	margin: 0 7.5px;
	color: black;
}

footer
{
	text-align: center;
}


#servicios .bloque-servicio
{
	border: 1px solid #410a14;
}

#servicios .bloque-servicio .bloque-img-servicio
{
	height: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio img
{
	width: 100%;
	height: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto
{
	padding-bottom: 56.25%;
}

#servicios .bloque-servicio .bloque-contenido-servicio
{
	padding: 15px;
}

#servicios .bloque-servicio .bloque-contenido-servicio h3
{
	margin-top: 0;
	font-size: 25px;
}

.bd-placeholder-img 
{
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media(max-width: 767px)
{
	body
	{
		font-size: 14px;
	}

	.bd-placeholder-img-lg 
	{
		font-size: 3.5rem;
	}

	header .contenedor nav
	{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: white;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 10px;
		padding-right: 0;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease;
		transform: translateX(100%);
	}

	header .contenedor nav.open
	{
		transform: translateX(0);
		background-color: #d91b54;
	}

	header .contenedor nav a
	{
		font-size: 30px;
		margin: 15px 0;
	}

	header .contenedor .hamb
	{
		display: block;
		font-size: 30px;
		color: white;
		position: relative;
	}

	footer
	{
		text-align: center;
	}

	footer .logo-footer
	{
		width: 50%;
	}

	footer .redes
	{
		justify-content: center;
	}

	.contenedor
	{
		width: 100%;
	}
}